<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <div class="container">
        <img
          class="logoImg"
          src="/images/kisspng-capybara-great-american-interchange-animal-neotrop-5b4cb583130a49.830956431531753859078 .png"
          alt="Capybara"
        />
        <h1 class="logo">Capybara</h1>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-info">
      <div class="article-containerA">
        <article class="info-article">
          <h2 class="sub-title">About Us</h2>

          <p>
            The capybara or greater capybara (Hydrochoerus hydrochaeris) is a
            giant cavy rodent native to South America. It is the largest living
            rodent. Its close relatives include guinea pigs and rock cavies, and
            it is more distantly related to the agouti, the chinchilla, and the
            nutria. The capybara inhabits savannas and dense forests, and lives
            near bodies of water. It is a highly social species and can be found
            in groups as large as 100 individuals, but usually live in groups of
            10 to 20 individuals. The capybara is hunted for its meat and hide
            and also for grease from its thick fatty skin. It is not considered
            a threatened species.
          </p>
        </article>

        <article class="info-article">
          <h2 class="sub-title">Popularity and meme culture</h2>

          <p>
            In the early 2020s, capybaras became a growing figure of meme
            culture due to many factors, including the disturbances in Nordelta
            which led to them being comically postulated as figures of class
            struggle. Also, a common meme format includes capybaras in various
            situations with the song "After Party" by Don Toliver, leading to a
            tremendous growth in popularity. Due to a lyric in Toliver's song,
            capybaras are also associated with the phrase "Ok I pull up".
          </p>
        </article>
      </div>

      <div class="article-containerB">
        <article class="info-article">
          <h2 id="last-sub-title">Etymology</h2>
          <p>
            Its common name is derived from Tupi ka'apiûara, a complex
            agglutination of kaá (leaf) + píi (slender) + ú (eat) + ara (a
            suffix for agent nouns), meaning
            <em>"one who eats slender leaves"</em>, or <em>"grass-eater"</em>.
            The scientific name, both hydrochoerus and hydrochaeris, comes from
            Greek (hydor "water") (choiros "pig, hog")
          </p>
        </article>
      </div>
    </main>
  </body>
</html>
