<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <div class="container">
           <img
          class="logoImg"
          src="/images/kisspng-capybara-great-american-interchange-animal-neotrop-5b4cb583130a49.830956431531753859078 .png"
          alt="Capybara"
        />
        <h1 class="logo">Capybara</h1>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>
<div id="home">
      <section class="section1">
        <h2 class="section-title">It's Capybara Time!</h2>

        <h2 class="sub-title">What people say about us?</h2>
        <aside class="quote">
          <i>"Capy the capybara saved my dog from drowning"</i>
          <p>H. Romeu Peitinho & Môpa</p>
        </aside>
      </section>

    </div>
  </body>
</html>
