<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/photo-gallery.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <div class="container">
        <img
          class="logoImg"
          src="/images/kisspng-capybara-great-american-interchange-animal-neotrop-5b4cb583130a49.830956431531753859078 .png"
          alt="Capybara"
        />
        <h1 class="logo">Capybara</h1>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-info">
      <div class="article-containerA">
        <article class="info-article">
          <h2 class="sub-title">Check me out!</h2>
          <img
            class="capi-img"
            id="capi1"
            src="images/png-image.png"
            alt="Capybara image 1"
          />
        </article>
      </div>

      <div class="article-containerB">
        <article class="info-article">
          <h2 id="last-sub-title" class="sub-title">
            Ohh such a beautiful capybara!
          </h2>
          <img
            class="capi-img2"
            id="capi2"
            src="/images/kisspng-capybara-whiskers-beaver-giant-rat-image-psbattle-capybara-with-some-squirrel-monkeys-ph-5bedd4f60a5ff3.6509313515423132060425.png"
            alt="Capybara image 2"
          />
        </article>
      </div>
    </main>
  </body>
</html>
