<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/works.css" />
    <title>Works</title>
  </head>
  <body>
    <header>
      <div class="container">
        <img
          class="logoImg"
          src="/images/kisspng-capybara-great-american-interchange-animal-neotrop-5b4cb583130a49.830956431531753859078 .png"
          alt="Capybara"
        />
        <h1 class="logo">Capybara</h1>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Work</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-info">
      <div class="article-containerA">
        <article class="info-article">
          <h2 class="sub-title">Capivaras urbanas:</h2>
          <h2 class="sub-title-no-anim">
            como o maior roedor do mundo se adaptou às cidades
          </h2>

          <p>
            Em 14 de setembro se comemora o Dia da Capivara, exemplar da fauna
            nativa da América do Sul que é um dos símbolos da região.
            Adaptáveis, elas desenvolveram comportamentos para conviver com os
            humanos e encarar a vida nas cidades.
          </p>

          <p>
            Um estudo publicado na revista Acta Veterinaria Brasilica relata
            alguns dos ajustes feitos por esses roedores para se darem tão bem
            em grandes centros urbanos, como São Paulo, por exemplo, onde é
            comum ver capivaras nas margens dos rios Pinheiros e Tietê. “Muitos
            lugares até consideram as capivaras como atrações turísticas,
            incluindo elas nos cartões-postais da cidade, como é o caso de
            Curitiba, no Paraná, além de São Lourenço e Belo Horizonte, em Minas
            Gerais", explica Rodrigues, um dos coautores do estudo. A primeira
            observação do trabalho foi a mudança do período de atividade do
            grupo. Os animais que vivem próximos a centros urbanos se
            demonstraram mais ativos no período noturno, diferente dos grupos de
            áreas naturais, que concentram suas atividades durante o dia.
          </p>
        </article>
      </div>

      <div class="article-containerB">
        <article class="info-article">
          <p>
            “Os resultados indicam que a presença humana na área parece criar
            uma pressão para as capivaras concentrarem as atividades de
            deslocamento e forrageio (alimentação) principalmente no período
            noturno, permanecendo o grupo em repouso dentro da mata durante o
            dia”, relata o artigo. “Elas apresentam um comportamento
            crepuscular, ou seja, vamos vê-las se deslocando em vias ou parques
            públicos entre o fim da tarde e à noite, quando há menos trânsito de
            veículos e de pessoas”, diz Rodrigues. Outra adaptação observada foi
            a escolha das áreas de refúgios. “Em vida natural, esses animais
            procuram abrigo nas matas próximas aos rios. Nas cidades, sem essa
            vegetação, elas ficam embaixo de pontes, em ilhas de terra nos rios
            assoreados e em áreas verdes urbanas.” Rodrigues também menciona a
            capacidade das capivaras de se deslocarem por terrenos completamente
            diferentes dos encontrados em áreas naturais. “Elas conseguem andar
            em vias pavimentadas sem muita dificuldade, o que ajuda nessa vida
            urbana que agora elas têm", diz ele. Mas, apesar de bem adaptadas, a
            convivência entre humanos e capivaras nem sempre é pacífica, podendo
            resultar em conflitos, perdas econômicas e problemas de saúde
            pública.
          </p>
          <p>
            Fonte
            <a
              href="https://www.nationalgeographicbrasil.com/animais/2022/09/capivaras-urbanas-como-o-maior-roedor-do-mundo-se-adaptou-as-cidades"
              >National Geographic</a
            >
          </p>
        </article>
      </div>
    </main>
  </body>
</html>
